<h1>My Blogs</h1>
<p>Record my life.</p>

<div>
  <form action="/blogs-search" method="get" id="searchbar">
    <input
      type="text"
      placeholder="Search..."
      name="searchValue"
      value="{{searchValue}}"
    />
    <input type="submit" value="ðŸ”" />
  </form>
</div>

<div class="errorMessagesForSearch">
  {{#if errorMessages.length}}
    {{#each errorMessages}}
      <p>{{this}}</p>
    {{/each}}
  {{/if}}
</div>

<div class="portfolioDisplay">
  {{#each blogs}}
    <div class="gridItem">
      {{!-- <img src="/uploadedImages/{{imgURL}}" alt="{{title}} image" /> --}}
      <a href="/blogs/{{id}}"> <p id="title">{{title}}</p></a>
      <p>{{date}}</p>
    </div>
  {{/each}}
</div>