<div>
  <form action="/blogs-search" method="get" id="searchbar">
    <input
      type="text"
      placeholder="Search..."
      name="searchValue"
      value="{{searchValue}}"
    />
    <input type="submit" value="ðŸ”" />
  </form>
</div>

<div class="errorMessagesForSearch">
  {{#if errorMessages.length}}
    {{#each errorMessages}}
      <p>{{this}}</p>
    {{/each}}
  {{/if}}
</div>

<div class="portfolioDisplay">
  {{#each blogs}}
    <div class="gridItem">
      <div class="imageContainer">
        <a href="/blogs/{{id}}">
          <img src="/uploadedImages/{{imgURL}}" alt="{{title}} image" />
        </a>
      </div>
      <a href="/blogs/{{id}}"> <p class="title">{{title}}</p></a>
      <p class="date">{{date}}</p>
    </div>
  {{/each}}
</div>