{{! <a target="_blank" href="https://icons8.com/icon/118485/facebook">Facebook</a>
icon by
<a target="_blank" href="https://icons8.com">Icons8</a> }}

<h1 id="contactHeader">
  Wanna get in touch?
  <br />
  Let's talk!
</h1>

<section>
  <div id="emailLink">
    <p>For general questions:</p>
    <a href="jyiiii047@gmail.com">jyiiii047@gmail.com</a>
  </div>
  <br />
  <div id="socialLinks">
    <a href="https://www.instagram.com/jyyy_ssie/">
      <img src="../public/instagramicon.svg" />
    </a>
    <a href="https://www.facebook.com/profile.php?id=100072766143133">
      <img src="../public/facebookicon.svg" />
    </a>
  </div>
</section>

<section>
  <form action="" method="post" id="contactForm">
    <div class="form-group">
      <p class="form-label" for="input-example-1">Name</p>
      <input
        class="form-input"
        type="text"
        id="input-example-1"
        placeholder="First Name"
        name="firstName"
      />
      <input
        class="form-input"
        type="text"
        id="input-example-1"
        placeholder="Last Name"
        name="lastName"
      />
    </div>
    <div>
      <p>Email</p>
      <input type="email" placeholder="Your Email" name="email" />
    </div>
    <div>
      <p>Project Deadline</p>
      <input type="month" placeholder="MM" name="month" />
      <input type="date" placeholder="DD" name="date" />
      <input type="year" placeholder="YY" name="year" />
    </div>
    <div>
      <p>Description</p>
      <input
        type="text"
        placeholder="Short Description..."
        name="description"
      />
    </div>
    <input type="submit" value="SEND" />
  </form>
</section>

<ul>
  {{#if contactInfos.length}}
    {{#each contactInfos}}
      <div>
        <p>{{firstName}}{{lastName}}</p>
        <p>{{email}}</p>
        <p>{{month}}{{date}}{{year}}</p>
        <p>{{description}}</p>
      </div>
    {{/each}}
  {{/if}}
</ul>