<h1>Wanna get in touch?</h1>
<h1>Let's talk!</h1>

<section>
  <h5>For general questions:</h5>
  <a href="https://www.instagram.com/jyyy_ssie/">My ins</a>
  <a href="https://www.facebook.com/profile.php?id=100072766143133">My Facebook</a>
  <p>jyiiii047@gmail.com</p>
</section>

<section>
  <form action="" method="post">
    <div>
      <p>Name</p>
      <input type="text" placeholder="First Name" name="firstName" />
      <input type="text" placeholder="Last Name" name="lastName" />
    </div>
    <div>
      <p>Email</p>
      <input type="text" placeholder="Your Email" name="email" />
    </div>
    <div>
      <p>Project Deadline</p>
      <input type="number" placeholder="MM" name="month" />
      <input type="number" placeholder="DD" name="date" />
      <input type="number" placeholder="YY" name="year" />
    </div>
    <div>
      <p>Description</p>
      <input
        type="text"
        placeholder="Short Description..."
        name="description"
      />
    </div>
    <input type="submit" value="SEND" />
  </form>
</section>

<ul>
  {{#if contactInfos.length}}
    {{#each contactInfos}}
      <div>
        <p>{{firstName}}{{lastName}}</p>
        <p>{{email}}</p>
        <p>{{month}}{{date}}{{year}}</p>
        <p>{{description}}</p>
      </div>
    {{/each}}
  {{/if}}
</ul>