<h4>ðŸ“¬Messages from new clients:</h4>

<div>
  <form action="/contactInfos-search" method="get" id="searchbar">
    <input
      type="text"
      placeholder="Search..."
      name="searchValue"
      value="{{searchValue}}"
    />
    <input type="submit" value="ðŸ”" />
  </form>
</div>

<div class="errorMessagesForSearch">
  {{#if errorMessages.length}}
    {{#each errorMessages}}
      <p>{{this}}</p>
    {{/each}}
  {{/if}}
</div>

<section>
  {{#if contactInfos}}
    <div class="contactDisplay">
      {{#each contactInfos}}
        <div class="contactItems">
          <p>NewContact #{{id}}</p>
          <p>Name: {{firstName}}{{lastName}}</p>
          <p>Email: {{email}}</p>
          <p>Project Deadline:{{date}}</p>
          <p>Description: {{description}}</p>
          <form action="/delete-contactInfo{{id}}" method="post">
            <input type="submit" value="Delete" />
          </form>
        </div>

      {{/each}}
    </div>
  {{/if}}
</section>