<h1>My project</h1>
{{#if project}}
  <p>{{project.title}}</p>
  <p>{{project.intro}}</p>

  {{#if isLoggedIn}}
    <form action="/update-project/{{project.id}}">
      <input class="editButton" type="submit" value="Update" />
    </form>

    <form action="/delete-project/{{project.id}}" method="post">
      <input class="editButton" type="submit" value="Delete" />
    </form>
  {{/if}}

{{else}}
  <p>I have not got this project yet.🤪</p>
{{/if}}