{{#if project}}
  <h4>{{project.title}}</h4>
  <h5>{{project.intro}}</h5>
  <img src="/uploadedImages/{{project.imgURL}}" alt="{{project.title}} image" />

  {{#if isLoggedIn}}
    <div>
      <form action="/update-project/{{project.id}}">
        <input class="editButton" type="submit" value="Update" />
      </form>

      <form action="/delete-project/{{project.id}}" method="post">
        <input class="editButton" type="submit" value="Delete" />
      </form>
    </div>

  {{/if}}

{{else}}
  <h4>Not exists!</h4>
  <p>I have not got this project yet.🤪</p>
{{/if}}